/* Style général */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff; /* Bleu clair */
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #003366; /* Bleu foncé */
  color: #ffcc00; /* Jaune */
  padding: 20px;
  text-align: center;
}

/* Footer */
footer {
  background-color: #003366; /* Bleu foncé */
  color: #ffcc00; /* Jaune */
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Titres */
h1 {
  color: #003366; /* Bleu foncé */
  text-align: center;
}

h2 {
  color: #003366; /* Bleu foncé */
}

/* Input et boutons */
input, button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

input {
  border: 2px solid #003366; /* Bleu foncé */
}

button {
  background-color: #ffcc00; /* Jaune */
  color: #003366; /* Bleu foncé */
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e6b800; /* Jaune foncé */
}

/* Liste des villes */
ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #ffcc00; /* Jaune */
  color: #003366; /* Bleu foncé */
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

